.detailpage {
    width: 100%;
}
.product-info {
    width: 1192px;
    margin: 40px auto;
}
.preview-wrap {
    float: left;
    width: 540px;
}
.preview-wrap .preview {
    width: 540px;
    height: 540px;
}
.preview-wrap .preview a {
    display: block;
    width: 540px;
    height: 540px;
}
.preview-wrap .preview a > img {
    width: 540px;
    height: 540px;
}
.preview-wrap .thumbs {
    position: relative;
    width: 540px;
    padding: 20px 0 30px;
    background-color: #f5f5f5;
}
.preview-wrap .thumbs .btn {
    display: block;
    position: absolute;
    top: 50%;
    width: 21px;
    height: 41px;
    margin-top: -21px;
    background-image: url("../imgs/icon_arrow_preview.png");
    background-repeat: no-repeat;
}
.preview-wrap .thumbs .btn-prev {
    left: 5px;
    background-position: 0 0;
}
.preview-wrap .thumbs .btn-prev.disabled {
    cursor: default;
    background-position: 0 -41px;
}
.preview-wrap .thumbs .btn-next {
    right: 5px;
    background-position: -21px 0;
}
.preview-wrap .thumbs .btn-next.disabled {
    cursor: default;
    background-position: -21px -41px;
}
.preview-wrap .thumbs .thumblist-wrap {
    position: relative;
    width: 470px;
    height: 110px;
    margin: 0 auto;
    padding: 2px;
    overflow: hidden;
}
.preview-wrap .thumbs .thumblist {
    position: absolute;
}
.preview-wrap .thumbs .thumblist li {
    float: left;
    display: inline-block;
    width: 110px;
    height: 110px;
    margin-right: 10px;
}
.preview-wrap .thumbs .thumblist li:last-of-type {
    margin-right: 0;
}
.preview-wrap .thumbs .thumblist li.last-thumb {
    margin-right: 0;
}
.preview-wrap .thumbs .thumblist li a {
    display: block;
    width: 108px;
    height: 108px;
    border: 1px solid #dcdcdc;
}
.preview-wrap .thumbs .thumblist li a.zoomThumbActive {
    outline: 2px solid #e9546b;
}
.preview-wrap .thumbs .thumblist li img {
    width: 100%;
}
.intro-info {
    width: 600px;
    float: right;
}
.intro-info p {
    padding: 10px 0;
    line-height: 50px;
    color: #333;
    font-size: 18px;
}
.intro-info .name {
    color: #666;
    font-size: 24px;
}
.intro-info p > span {
    display: inline-block;
    float: left;
}
.intro-info p i {
    font-style: normal;
    font-size: 18px;
}
.intro-info .title {
    margin-right: 10px;
}
.intro-info .price {
    color: #f00;
    font-size: 24px;
}
.intro-info .count {
    display: inline-block;
}
.intro-info .count a {
    display: inline-block;
    float: left;
    width: 68px;
    height: 48px;
    border: 1px solid #d9d9d9;
    line-height: 48px;
    text-align: center;
}
.intro-info .count input {
    display: inline-block;
    float: left;
    width: 95px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}
.intro-info .count + span {
    margin-left: 10px;
}
.intro-info .btns {
    width: 100%;
}
.intro-info .btns a {
    display: block;
    float: left;
    width: 248px;
    height: 68px;
    margin-top: 50px;
    border: 1px solid #0cb95f;
    border-radius: 2px;
    line-height: 68px;
    text-align: center;
    font-size: 24px;
}
.intro-info .btns .btn-add {
    background-color: #0cb95f;
    color: #fff;
}
.intro-info .btns .btn-add i {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 2px;
    background-image: url('../imgs/icon_shopping_cart_white.png');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}
.intro-info .btns .btn-buy {
    margin-left: 10px;
    background-color: #fff;
    color: #0cb95f;
}