.expert_wraps {
    width: 1192px;
    margin: 40px auto 80px;
    overflow: hidden;
}
.expert_wraps .nav {
    width: 160px;
    float: left;
    font-size: 16px;
}
.expert_wraps .nav li {
    line-height: 34px;
}
.expert_wraps .nav h4 {
    background: url('../imgs/expert_nav_arrow.png') left center no-repeat;
    padding-left: 24px;
    margin: 0;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.expert_wraps .nav li li {
    padding-left: 24px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.expert_wraps .content {
    width: 922px;
    float: right;
    border: 2px solid #ececec;
    padding: 10px 28px;
}
.expert_wraps .content h3 {
    font-size: 24px; 
    color: #0cb95f;
    line-height: 64px;
    border-bottom: 1px solid #ececec;
    font-weight: normal;
}
.expert_list {
    margin-top: 36px;
}
.expert_list .person {
    width: 228px;
    height: 344px;
    border: 1px solid #d9d9d9;
    margin-bottom: 16px;
    text-align: center;
    float: left;
}
.expert_list .person {
    border-right: none;
}
.expert_list .person:nth-of-type(4n) {
    float: left;
    border-right: 1px solid #d9d9d9;
}
.expert_list .person:last-of-type {
    float: left;
    border-right: 1px solid #d9d9d9;
}
.expert_list .person .avatar {
    margin-top: 30px;
}
.expert_list .person .avatar img {
    width: 96x;
    height: 96x;
    overflow: hidden;
}
.expert_list .person .name {
    margin: 10px 0 0;
    font-size: 20px;
    line-height: 30px;
    color: #333;
}
.expert_list .person .score {
    font-size: 16px;
    line-height: 30px;
    color: #666;
    overflow: hidden;
}
.expert_list .person .score ul {
    float: left;
    margin: 0 4px 0 52px;
}
.expert_list .person .score ul li {
    float: left;
    margin-right: 1px;
}
.expert_list .person .score ul li img {
    margin-top: 4px;
}
.expert_list .person .score p {
    float: left;
}
.expert_list .person .contact {
    font-size: 18px;
    line-height: 30px;
    color: #333;
}
.expert_list .person .contact span {
    color: #f00;
}
.expert_list .person .chat {
    width: 144px;
    height: 32px;
    line-height: 32px;
    display: block;
    margin: 14px auto 16px;
    background: -webkit-linear-gradient(left, #6dd477, #009c0c);
    background: -o-linear-gradient(left, #6dd477, #009c0c);
    background: -moz-linear-gradient(left, #6dd477, #009c0c);
    background: linear-gradient(left, #6dd477, #009c0c);
    font-size: 16px;
    color: #fff;
}
